.performance-indicators {

    &__measurements {
        
    }

    &__temperature-chart {
        margin-top: 50px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        > * {
            flex: 1 0 280px;
        }

        & + & {
            margin-top: 30px;
        }
    }
}
.performance-indicators.performance-indicators--mobile {

    .performance-indicators__measurements {
        grid-template: repeat(3, auto) / repeat(1, 1fr);
    }
}