.slash-button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border: 0;
    padding: 0;
    font-size: 18px;
    text-transform: lowercase;
    background-color: transparent;

    &__value {
        padding: 0 10px 0 20px;
        background-color: #146C43;
        border-radius: 3px 0 0 3px;
        color: #fff;
    }

    &__bevel {
        display: inline-block;
        border-top: calc(1.21em) solid  #146C43;
        border-right: calc(1em) solid transparent;
        border-top-right-radius: 5px;
    }
}

.slash-button.slash-button--mobile {
    font-size: 16px;
}

.slash-button[disabled] {
    cursor: default;
    
    .slash-button__value {
        background-color: #888888;
    }

    .slash-button__bevel {
        border-top: calc(1.15em) solid  #888888;
    }
}