.navbar {

    > * {
        margin-left: 20px;
    }

    &__select {
        user-select: none;
        cursor: pointer;

        &::first-letter {
            text-transform: uppercase;
        }
    }
}
.navbar.navbar--mobile {

    > * {
        margin: 25px 20px;
    }
}